NUXT_AUTH_PASSWORD=secretsecretsecretsecretsecretsecretsecret

NUXT_FABRIC_CHAINCODE_CHAINCODE=saacs-caliper
NUXT_FABRIC_CHAINCODE_CHANNEL=mychannel

NUXT_FABRIC_PEER_GRPC_OPTIONS ="peer0.org1.example.com"
NUXT_FABRIC_PEER_URL="grpcs://localhost:7051"
NUXT_FABRIC_PEER_TLS_CA_CERTS_PEM="

"

#BEGIN CERTIFICATE
NUXT_FABRIC_PUBLIC_CREDENTIALS="

"

#BEGIN PRIVATE KEY
NUXT_FABRIC_PUBLIC_KEY="

"

NUXT_FABRIC_PUBLIC_MSP=Org1MSP

NITRO_THEME_PRIMARY_COLOR=#3f51b5
NUXT_API_URL="http://localhost:8000"
